In [1]:
import pandas as pd
import numpy as np

DataFrame 類似 2 維陣列


DataFrame([data=None, index=None, columns=None, dtype=None, copy=None])

In [2]:
# 來自 list，list 長度可不同，缺值為 NaN
data1 = [["Python", 500], ["Java", 400], ["Swift"]]
df1 = pd.DataFrame(data1, columns=["name", "price"])
df1

     name  price
0  Python  500.0
1    Java  400.0
2   Swift    NaN

In [3]:
# 來自 dict-list，list 長度要相同
data2 = {"name": ["Python", "Java"], "price": [500, 450]}
df2 = pd.DataFrame(data2)
df2

     name  price
0  Python    500
1    Java    450

In [4]:
# 來自 list-dict，dict長度可不同，缺值為 NaN
data3 = [{"name": "Python", "price": 500},
         {"name": "Java", "price": 450},
         {"name": "Swift"}]
df3 = pd.DataFrame(data3)
df3

     name  price
0  Python  500.0
1    Java  450.0
2   Swift    NaN

In [5]:
# 來自 ndarray，長度要相同
data4 = np.array([["Python", 500], ["Java", 400]])
df4 = pd.DataFrame(data4)
df4

        0    1
0  Python  500
1    Java  400

In [6]:
# DataFrame 轉 dict
dict = df1.to_dict()
dict

{'name': {0: 'Python', 1: 'Java', 2: 'Swift'},
 'price': {0: 500.0, 1: 400.0, 2: nan}}

In [7]:
# DataFrame 轉 ndarray
nd = df1.to_numpy()
nd

array([['Python', 500.0],
       ['Java', 400.0],
       ['Swift', nan]], dtype=object)

In [8]:
# DataFrame 轉 list， 需先轉成 ndarray
lst = df1.to_numpy().tolist()
lst

[['Python', 500.0], ['Java', 400.0], ['Swift', nan]]