In [4]:
import pandas as pd

In [2]:
file_path = r'../source/raw.csv'
df = pd.read_csv(file_path, skipinitialspace=True)
df

     name  price author        date
0  Python  500.0   Paul  2022/11/22
1      na  450.0   John    2021/9/8
2   Swift -550.0     --    20220102
3      C#    NaN    NaN    2020-3-9
4   Swift -550.0     --    20220102
5  Python  600.0  Peter   2024-7-22
6      JS  450.0   Yoyo     1131102

In [3]:
print(type(df.loc[0, 'date']))

<class 'str'>

In [4]:
df.loc[6, 'date'] = str(int(df.loc[6, 'date'][0:3]) + 1911) + df.loc[6, 'date'][3:]
df.loc[6, 'date']

'20241102'

In [5]:
df['date'] = pd.to_datetime(df['date'], format="ISO8601")
df

     name  price author       date
0  Python  500.0   Paul 2022-11-22
1      na  450.0   John 2021-09-08
2   Swift -550.0     -- 2022-01-02
3      C#    NaN    NaN 2020-03-09
4   Swift -550.0     -- 2022-01-02
5  Python  600.0  Peter 2024-07-22
6      JS  450.0   Yoyo 2024-11-02

In [ ]:
df_time = pd.DataFrame({'time': [233500, 125900, 81500]})

df_time['formatted_time'] = pd.to_datetime(df_time['time'], format='%H%M%S').dt.strftime('%H:%M:%S')
df_time

     time formatted_time
0  233500       23:35:00
1  125900       12:59:00
2   81500       08:15:00

In [8]:
df_time.dtypes

time               int64
formatted_time    object
dtype: object