In [3]:
import pandas as pd

In [4]:
# create
df = pd.DataFrame(columns=['name', 'age'])
df.loc[0] = ['John', 30]
df.loc[1] = ['Mary', 35]
df

   name  age
0  John   30
1  Mary   35

In [5]:
# 新增 city 欄位
df['city'] = ["Taipei", 'Taichung']
df

   name  age      city
0  John   30    Taipei
1  Mary   35  Taichung

In [ ]:
# index: 每一列的名字
df1 = pd.DataFrame([[1, 2],
                   [4, 5],
                   [7, 8]],
                   index = ['cobra', 'viper', 'sidewinder'],
                   columns=['Max_speed', 'shied'])
df1

            Max_speed  shied
cobra               1      2
viper               4      5
sidewinder          7      8