In [2]:
import pandas as pd

In [ ]:
file_path = '../source/raw.csv'
df = pd.read_csv(file_path, engine="python", skipinitialspace=True)
df

     name  price author        date
0  Python  500.0   Paul  2022/11/22
1      na  450.0   John    2021/9/8
2   Swift -550.0     --    20220102
3      C#    NaN    NaN    2020-3-9
4   Swift -550.0     --    20220102
5  Python  600.0  Peter   2024-7-22